<div class="bill"></div>
<h3 id="tenstore">The Ten Dollar Store </h3>
<h3 id="title">New Item</h3><br><br>


<% if flash[:alert] %>
    <br><div class = "flash_msg"><%= flash[:alert] %></div>
<% end %>


<%= render "items/form", object: @item %>