<div class="bill"></div>

<h3 id="tenstore">The Ten Dollar Store </h3>


<h1 id="title">Edit <%= @seller.username %></h1>

<% if flash[:notice] %>
    <div class = "flash_msg"><%= flash[:notice] %></div>
<% end %>

<%= render "sellers/form", object: @seller %>

<%= link_to "Delete #{@seller.first_name} #{@seller.last_name}", seller_path(@seller), method: :delete, data: {confirm: "Are you sure you want to delete #{@seller.username}?"} %><br><br>

