<h3 id="tenstore">The Ten Dollar Store </h3>
<h1 id="title">New Seller</h1>

<% if flash[:notice] %>
    <div class = "flash_msg"><%= flash[:notice] %></div>
  <% end %>

<%= render "sellers/form", object: @seller %>

